<h1><%= @user.email %>'s Profile</h1>
<p>Name: <%= @user.name %></p> <!-- Assuming you have a name field -->

<h2>Posts</h2>
<ul>
  <% @posts.each do |post| %>
    <li><%= post.content %></li>
  <% end %>
</ul>

<h2>Comments</h2>
<ul>
  <% @comments.each do |comment| %>
    <li><%= comment.body %> (on post: <%= comment.post.id %>)</li>
  <% end %>
</ul>