
<h1>Comments</h1>

<% if user_signed_in?%>
  <%= link_to 'New Comment', new_comment_path, class: 'btn btn-primary' %>
<%end %>

<table class="table">
  <thead>
    <tr>
      <th>Body</th>
      <th>User</th>
      <th>Post</th>
      <th> Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <td><a href="/users/<%= comment.user_id %>"><%= comment.user_id %></a></td>
        <td><a href="/posts/<%= comment.post_id %>"><%= comment.post_id %></a></td>
        <td>
          <%= link_to 'Show', comment, class: 'btn btn-info' %>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


